.footer-content{
	border-top: 2px solid var(--text-light, $text-light);
	padding-top: 2vw;
	margin-top: 4vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.content-box{
		.title{
			font-size: 1.2em;
			height: 2em;
			font-weight: bold;
			text-transform: capitalize;
			i{
				display: inline-block;
				font-size: 0.7em;
				background-color: var(--primary, $primary);
				height: 2em;
				width: 2em;
				text-align: center;
				line-height: 2em;
				color: #fff;
				border-radius: 50%;
				margin-right: 5px;
				box-shadow: get-shadow();
				text-shadow: get-shadow();
			}
		}
		a{
			display: block;
			color: var(--text-light, $text-light);
			padding: 2px 0;
		}	
	}
}
.footer-nav{
	text-align: center;
	margin: 1vw 0;
	font-size: 1.2em;
	a{
		color: var(--text, $text);
		margin-right: 1vw;
	}
	span{
		color: var(--text, $text);
	}
}