body{
	/*--primary: #2C5FF9;
	--primary-dark: #2147BA;*/
	--primary: #FFAF00;
	--background: #2F2F2F;
	--dark: #131313;
	--light: #1A1A1A;
	
	--text: #fff;
	--text-light: #F0F0F0;
	
	--shadow: rgba(255, 255, 255, 0.05);
}